h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    border: 10px solid gold;
    border-radius: 30px;
    background-color: teal;
    padding: 50PX;
    margin-left: 400px;
    margin-right: 400px;
}

img{
    height: 300px;
    width: 500px;
}
.program{
    background-image: url(GettyImages-689291632_optimized.jpg);
    background-repeat: repeat-x;
    height: 500px;
    width: 700px;
    margin-top: 50px;


}

h2{
    background-color:darkslategrey;
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: aliceblue;
    padding: 30px;
    text-align: center;


}
*{
    background-color: palevioletred;
    
    background-size: cover;
}