h1{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    border: 10px solid gold;
    border-radius: 30px;
    background-color: teal;
    padding: 50PX;
    margin-left: 400px;
    margin-right: 400px;
}

img{
    height: 300px;
    width: 500px;
}
.program{
    background-image: url(GettyImages-689291632_optimized.jpg);
    
}